* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container .links {
  width: 310px;
  margin: 10px;
  border: 1px solid black;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  background: chartreuse;
  display: inline-block;
}
.container {
  margin-top: 100px;
  text-align: center;
  width: 360px;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  display: inline-block;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid gray;
  padding: 15px;
}
form h1 {
  font-size: 24px;
}
form input {
  margin: 10px 0;
}
form button {
  padding: 8px;
}
.secuencia {
  margin: 15px 0;
}
